@import url("https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap");

:root {
  --foreground-color: #1d3144;
  --background-color: #fcfcf2;
}

html {
  font-family: "Tilt Neon", Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  background-color: #fcfcf2;
}

main,
#page-ctn {
  background-color: #fcfcf2;
}

main[data-theme="dark"] #page-ctn,
main[data-theme="dark"] {
  background-color: #0e1015;
}
